<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Form App with Django/Python</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3 pt-5">
                <span><a href="{% url 'index' %}">Home </a></span> | 
                <span><a href="{% url 'contactform' %}"> ContactForm </a></span> | 
                <span><a href="{% url 'thanks' %}"> Thanks</a></span>
                <hr>
            </div>
        </div>
    </div>
    
    {% block content %} {% endblock %}
    
</body>
</html>